body {
  background-color: #f9f9f9;
}

.container {
  width: 1060px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  padding: 50px 46px 60px 46px;
}

ul {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
  background-image: url(../img/bg_menu.jpg);
  height: 40px;
  margin: 40px auto;
}

li {
  line-height: normal;
  letter-spacing: normal;
  display: -moz-inline-stack !important;
  display: inline-block;
  zoom: 1;

}

li a {
  display: block;
  position: relative;
  padding: 11px 25px;
  color: white;
  font-size: 15px;
  font-family: 'OpenSans Regular', sans-serif;
  text-decoration: none;
  border: 1px solid transparent;
}

li a:hover {
  background-image: url(../img/bg_menu_hover.jpg);
  border: 1px solid #838383;
}
