body {
  background-color: #f9f9f9;
}

.container {
  width: 966px;
  height: 100%;
  background-color: white;
  margin: 0 auto;
  padding: 50px 48px 60px 48px;
}

.top-menu {
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
  background-image: url(../img/bg_menu.jpg);
  height: 40px;
  margin-top: 40px;
}

.top-menu li {
  line-height: normal;
  letter-spacing: normal;
  display: -moz-inline-stack !important;
  display: inline-block;
  zoom: 1;
}

.top-menu li a {
  display: block;
  position: relative;
  padding: 11px 25px;
  color: white;
  font-size: 15px;
  font-family: 'OpenSans Regular', sans-serif;
  text-decoration: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.top-menu li a:hover {
  background-image: url(../img/bg_menu_hover.jpg);
  border-left: 1px solid #838383;
  border-right:  1px solid #838383;
}

aside {
  width: 240px;
  margin-top: 40px;
  float: left;
}

.aside-menu {
  list-style: none;
}

.aside-menu li a {
  font-size: 13px;
  font-family: 'OpenSans Regular', sans-serif;
  text-decoration: none;
  color: #656363;
  padding: 16px 23px;
  display: block;
  border: 0 solid #c8c8c8;
  border-width: 1px 1px 0 1px;
}

.aside-menu li a:hover {
  background-color: #f9f9f9;
  color: #2c2c2c;
  padding-left: 35px;
}

.aside-menu li:last-of-type a {
  border-width: 1px 1px 1px 1px;
}

section {
  margin-top: 40px;
  margin-left: 290px;
}

.img-frame {
  width: 676px;
  height: 398px;
  border: 1px solid #c8c8c8;
  position: relative;
}

.img-frame img {
  position: absolute;
  top: 13%;
  left: 13%;
}

p {
  font-size: 13px;
  line-height: 21px;
  font-family: 'OpenSans Regular', sans-serif;
  color: #2c2c2c;
  align: left;
  margin: 40px;
}
