@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Helvetica Neue'
}

header {
  height: 36px;
  background-color: #07508f;
  color: #fff;
  font-size: 12px;
}

/*.clearfix:after {
  content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}*/

.login {
  float: right;
  background-image: url(../img/bg-login.jpg);
  padding: 0 12px;
  margin-right: 20px;
}

.login a {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  color: #fff;
}

.flag {
  float: right;
  line-height: 36px;
  padding: 0 18px;
  border-left: 1px solid #4eabda;
}

.top-menu {
  float: right;
}

.top-menu li {
  display: inline-block;
  color: #4eabda;
  padding: 0 5px;
}

.top-menu li a {
  display: inline-block;
  height: 36px;
  padding: 0 5px;
  line-height: 36px;
  text-decoration: none;
  color: #4eabda;
}

.top-menu li a:hover,
.top-menu li a:focus  {
  background-color: #4eabda;
  color: #fff;
  padding: 0 5px;

}

.wrapper {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 36px;
  left: 0;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-image: url(../img/bg-img.jpg);
}

form {
  width: 560px;
  height: 615px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.container {
  color: white;
  font-size: 24px;
}

h1 {
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 60px;
  border-bottom: 2px solid #fff;
}

.container a {
  display: block;
  width: 100%;
  margin: 30px auto;
}
.container a img {
  display: block;
  margin: 0 auto;
}

fieldset {
  width: 267px;
  border-top: 1px solid #fff;
  margin: 0 auto;
}

legend {
  padding: 0 10px;
  font-size: 18px;
  text-align: center;
}

input[type="text"]{
  color: #ccc;
  background-color: #0f0f0f;
  border: none;
  width: 267px;
  padding: 7px 15px;
  font-size: 14px;
}

input[type="text"]:focus,
input[type="text"]:hover{
  background-color: #1b5288;
  box-shadow: 0 0 5px 3px #689bcc;
}

.checkbox {
  margin-right: 10px;
}

p {
  margin-top: 20px;
  font-size: 14px;
  color: #ccc;
}

fieldset a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.button {
  width: 152px;
  margin: 0 auto;
  text-align: center;
  line-height: 37px;
  background-image: url(../img/create-button.png);
}

span {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: normal;
}
