body {
	   background-color: #211f21;
     margin: 0;
}

.wrapper {
		width: 1024px;
		margin: 0 auto;
}

.top {
    background-image: url(../img/bg_img.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0;
}

h1 {
	  font-size: 22px;
	  font-family: 'Roboto Mono', monospace;
	  text-align: center;
	  color: white;
}

.title {
    width: 500px;
    border: 2px solid white;
    margin: 60px auto;
}

.cont-block {
    width: 900px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    text-align: left;
    margin: 20px auto
}

.input-block {
    width: 900px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    text-align: center;
    margin: 20px auto
}

p {
	  display: inline-block;
	  width: 33%;
	  text-align: center;
}

#left {
	  float:right;
}

#right {
	  float:left;
}

.center_button {
	  margin: 0 auto;
	  display: block;
}

.bottom {
    margin: 50px auto;
}

ul {
    text-align: center;
    padding: 0;
}

li {
	  list-style-type: none;
	  display: inline;
	  padding: 4px;
}

a {
	text-decoration: none;
	height: inherit;
}
