@font-face {
    font-family: "LeagueGothicRegular";
    src: url("../fonts/LeagueGothicRegular.eot");
    src: url("../fonts/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/LeagueGothicRegular.woff") format("woff"),
    url("../fonts/LeagueGothicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "OpenSansLight";
    src: url("../fontsOpenSansLight.eot");
    src: url("../fonts/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansLight.woff") format("woff"),
    url("../fonts/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
  font-family: "LeagueGothicRegular";
}

.clearfix:after {
  content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.wrapper {
  display: flex;
  justify-content: center;
}

header {
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  min-width: 320px;
	max-width: 960px;
  width: 100%;
	margin: 0 auto;
}

/*.logo {
  float: left;
}

.top-menu {
  float: right;
}

.top-menu li {
  display: inline-block;
  font-size: 24px;
}

.top-menu li a {
  display: inline-block;
  margin-left: 50px;
  line-height: 34px;
  text-decoration: none;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.top-menu li a:hover,
.top-menu li a:focus  {
  text-decoration: underline;
}

.slider-bg {
  height: 400px;
  margin-top: 170px;
  background-color: rgba(0,0,0,0.5);
}

.slider {
  /*display: flex;
  align-items: center;*/
}

.frame-text {
  float: left;
  max-width: 500px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.title1 {
  margin-bottom: 6px;
  font-size: 60px;
  color: #fff;
}

.title2 {
  margin-bottom: 8px;
  font-size: 32px;
  color: #edbfff;
}

p {
  font-family: "OpenSansLight";
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}

.video {
  float: right;

}*/
